.btn-label{
    display: flex;
    height:100%;
    text-transform: capitalize;
    border-right:1px solid black;
}
.btn-label span{
    padding-left:20px;
    padding-right:20px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.btn-label :hover {
    background-color: black;
    color:white;
    transition-duration:200ms;
}